extends ../_layouts/api

append vars
  -var section = 'blackcore';
  -var title = 'Overview';
  -var description = 'Full API Documentation for the Blackcore platform, an open source blackcoin stack.';
  
append docs
  +docMarkdown('https://github.com/janko33bd/bitcore-node/blob/blackcore-node/README.md')
    include:marked ../../generated/bitcore/README.md 
