extends _layouts/primary

block body
  
  .background-element.grid-fade-in.text-center(style="background: url('/images/shadow-grid.png') no-repeat center; height:500px; width:100%")
  .hero.bg-white
    .container.hero-container
      .row
        .col-sm-12
          ul.nav.navbar-nav.space-between.hero-links.hidden-xs-down
            li.nav-item.fade-in-delayed
              a.nav-link(href="/playground") Playground
            li.nav-item.fade-in-delayed
              a.nav-link(href="https://node.blackcoin.io/insight/") blacksight
            li.nav-item.fade-in-delayed
              a.nav-link(href="https://payblk.blackcoin.io/") Payblk
            li.nav-item.fade-in-delayed
              a.nav-link(href="https://obsidiancvt.slack.com") Slack
          img(src="/images/home-logo.png").m-t-lg.m-b.fade-in-down.home-logo
          h4.m-b-md.fade-in-delayed Build a powerful, modular node for blackcoin and blockchain-based apps.
          .row
            a(href="https://blackcoin.io").btn.btn-primary.fade-in-delayed.btn-margin Blackcoin.io
            a(href="http://www.vulturecaps.com/").btn.btn-secondary.fade-in-delayed.btn-margin Ethereum Projects


  
    
  .bg-gray.p-y-lg.border-vertical-grey 
    .container
        .col-md-6.p-r-lg.border-right-grey
          a(href="https://blackcoin.io").cta-link.bold.m-b.arrow-dark Blackcoin.io
          p.m-t Dive into the currency of the future. Use Blackcoin.io's services like #[a(href="https://node.blackcoin.io/bws") blackcore-wallet-service] and #[a(href="https://node.blackcoin.io/insight-api") blacksight-api.] User Interfaces are available for your convenience too: #[a(href="https://node.blackcoin.io/insight/") blacksight] and #[a(href="https://blackcoin.io") Payblk]
        .col-md-6.p-l-lg.p-l-lt-lg
          a(href="http://www.vulturecaps.com/").cta-link.bold.m-b.arrow-dark Ethereum Projects
          p.m-t Ethereum Projects - Learn more about Obsidian Cryptovault Technologies, LLC and Ethereum.