extends _layouts/primary

append vars
  -var title = 'Getting Started';
  -var section = 'start';
  -var description = 'Run a blackcoin node with Blackcore.'; 

block page
  .bg-darker.p-t-lg.p-b-0
    .container
      .row
        .col-sm-12.col-md-12.col-lg-7
          .m-b-md
            h1.color-white.header__bottom-border-left Getting Started
            h4.color-white.opacity-70.m-y Spin up a node on the blackcoin network.
          p.color-white Blackcore has #[a(href="https://blackcoin.co") Blackcoin] built right in, so joining the peer-to-peer network is simple.
        .col-sm-12.col-md-12.col-lg-5
          img.width-100(src="/images/icosahedron-spheres.png")
  .bg-gray.p-y-lg.border-vertical-grey 
    .container
        .col-md-6.p-r-lg.border-right-grey
          a(href="http://www.vulturecaps.com/").cta-link.bold.m-b.arrow-dark Ethereum Projects
          p.m-t Ethereum Projects - Learn more about Obsidiancvts involvement with Ethereum.
        .col-md-6.p-l-lg.p-l-lt-lg
          a(href="https://blackcoin.co").cta-link.bold.m-b.arrow-dark Blackcoin
          p.m-t Dive into the currency of the future. Blackcoin provides an extensive features unique in cryptocurrency: cold/remote staking, POS3.0, HD or Stealth address, pruned blockchain and dozens of community projects.
