extends _layouts/primary

append vars
  -var title = 'Getting Started';
  -var section = 'start';
  -var description = 'Run a blackcoin node with Blackcore.'; 

block page
  .bg-darker.p-t-lg.p-b-0
    .container
      .row
        .col-sm-12.col-md-12.col-lg-7
          .m-b-md
            h1.color-white.header__bottom-border-left Getting Started
            h4.color-white.opacity-70.m-y Spin up a node on the blackcoin network.
          p.color-white Blackcore has #[a(href="https://blackcoin.co") Blackcoin] built right in, so joining the peer-to-peer network is simple.
        .col-sm-12.col-md-12.col-lg-5
          img.width-100(src="/images/icosahedron-spheres.png")
  
  .section.bg-white.border-top-grey
    .container
      h4.text-center.header__bottom-border What's Next
      .row
        .col-lg-8.col-lg-offset-2.m-b-lg
          p.text-center Connect Payblk to your own wallet service or follow one of our tutorials to start building with Blackcore. 
      .row
        .col-lg-5
          img.card-img-top.width-100.m-b-md(src='/images/illustrations/bws-landscape.svg', alt='Card image cap')
          a(href="guides/wallet-service").orange-uppercase-link Run your own wallet service
          p.m-t Add Blackcore Wallet Service to your Blackcore node, and connect your Payblk wallet.
          p Payblk let's you control your own funds, Blackcore Wallet Service let's you control your information, too.
        .col-lg-1
        .col-lg-6.col-offset-1.border-left-grey
          .row.vertical-align.m-b-lg.m-t-0
            .col-xs-3.text-center 
              img(src="/images/illustrations/fire-alarm.svg")
            .col-xs-9
              a(href="/guides/satoshi-fire-alarm").orange-uppercase-link Satoshi Fire Alarm
              p.opacity-70 Set up a Blackcore service to watch some famous coins.
          .row.vertical-align.m-y-lg
            .col-xs-3.text-center 
              img(src="/images/illustrations/lemonade-stand.svg")
            .col-xs-9
              a(href="/guides/lemonade-stand").orange-uppercase-link Lemonade Stand
              p.opacity-70 Learn how to accept blackcoin payments directly on your website.           
          .row.vertical-align.m-y-lg
            .col-xs-3.text-center 
              img(src="/images/illustrations/i-made-this.svg")
            .col-xs-9
              a(href="/guides/i-made-this").orange-uppercase-link I made this
              p.opacity-70 Build a desktop app to timestamp information right in the blockchain.        
  
  .bg-gray.p-y-lg.border-vertical-grey 
    .container
        .col-md-6.p-r-lg.border-right-grey
          a(href="http://www.vulturecaps.com/").cta-link.bold.m-b.arrow-dark Ethereum - Vulture Capital
          p.m-t Vulture Capital - Learn more about Obsidiancvts involvement with Ethereum.
        .col-md-6.p-l-lg.p-l-lt-lg
          a(href="https://blackcoin.co").cta-link.bold.m-b.arrow-dark Blackcoin
          p.m-t Dive into the currency of the future. Blackcoin provides an extensive features unique in cryptocurrency: cold/remote staking, POS3.0, HD or Stealth address, pruned blockchain and dozens of community projects.
